<% content_for :meta_title, "#{@artist.name} - #{DEFAULT_META["meta_website_name"]}" %>

<h1 class="name" data-role="<%=@main_role%>"><%=@artist.name%>
<% unless @songs.empty? %>
(<%= @songs.count %>)
<%end%>
</h1>

<% unless @bands.empty? %>
  <h5>Member of : <% @bands.each do |band| %>
    <%= link_to band.band.name, artist_path(band.band) %>
      <% unless band == @bands.last %>
        <span>, </span>
      <% end %>
    <% end %>
  </h5>
<% end %>

<% unless @artist_labels.empty? %>
  <h5 class="artist-labels">Founder of : <% @artist_labels.each do |label| %>
    <%= link_to label.name, label_path(label) %>
      <% unless label == @artist_labels.last %>
        <span>, </span>
      <% end %>
    <% end %>
  </h5>
<% end %>

<% unless @producer_songs.empty? || @songs.empty?  %>
  <div class="tabs">
    <div class="tab <%= "active" if @role == "artist" %>" id="artist-tab">As artist</div>
    <div class="tab <%= "active" if @role == "producer" %>" id="producer-tab">As producer</div>
  </div>
<% end %>

<div id="artist-table" class="table <%= "active" if @role == "artist" %>">
  <%= will_paginate @songs %>
  <%= render 'shared/songs_table' unless @songs.empty? %>
  <%= will_paginate @songs %>
</div>


<% unless @producer_songs.empty? %>

  <div id="producer-table" class="table <%= "active" if @role == "producer" %>">
    <%= will_paginate @producer_songs %>
    <table>
      <thead>
        <tr>
          <th>Artist</th>
          <th>Song</th>
          <th>Label</th>
          <th>Year</th>
          <th>Riddim</th>
          <th>Producer</th>
          <th>Search</th>
          <th>Edit</th>
        </tr>
      </thead>

      <tbody>
        <% @producer_songs.each do |s| %>
          <% artist_label = [] %>
          <% s.song_artists.each {|sa| artist_label << sa.artist.name } %>
          <tr class="song<%= ' original' if s.original %>">
            <td>
              <% s.song_artists.each do |sa| %>
              <%= link_to sa.as.nil? || sa.as.empty? ? sa.artist.name : sa.as, artist_path(sa.artist) %><%= " & " unless sa == s.song_artists.last %>
              <% end %>
            </td>
            <td><%= s.title %></td>
            <td><%= link_to s.label.name, label_path(s.label) %></td>
            <td><%= s.year %></td>
            <td><%= link_to s.riddim.title, riddim_path(s.riddim) %></td>
            <td><%= link_to s.producer_alias.nil? || s.producer_alias.empty? ? s.producer.name : s.producer_alias, artist_path(s.producer) unless s.producer.nil? %></td>
            <td class="search"><a target="_blank" href="https://www.youtube.com/results?search_query=<%=artist_label.join('+')%>+<%= s.title %>"><i class="fab fa-youtube"></i></a></td>
            <td><%= link_to "Edit", edit_song_path(s) %></td>
          </tr>

        <% end %>
      </tbody>
    </table>
    <%= will_paginate @producer_songs %>
  </div>


<% end %>
