<h1>Edit <%= @label.name %></h1>

<%= simple_form_for(@label) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.association :founder, input_html: {id: 'artist-select' } %>
    <%= f.association :parent, input_html: {id: 'label-select' } %>
  </div>
  <%= f.submit %>
<% end %>
