<div class="fixed">
  <div class="add-element">
    <%= simple_form_for(@artist, html: {class: "form"}) do |f| %>
      <div class="form-group">
        <%= f.label :name, "Artist" %>
        <%= f.text_field :name %>
      </div>
      <%= f.submit %>
    <% end %>
  </div>

  <div class="add-element">
    <%= simple_form_for(@label, html: {class: "form"}) do |f| %>
      <div class="form-group">
        <%= f.label :name, "Label" %>
        <%= f.text_field :name %>
      </div>
      <%= f.submit %>
    <% end %>
  </div>

  <div class="add-element">
    <%= simple_form_for(@riddim, html: {class: "form"}) do |f| %>
      <div class="form-group">
        <%= f.label :title, "Riddim" %>
        <%= f.text_field :title %>
      </div>
      <%= f.submit %>
    <% end %>
  </div>

  </div>
