<table>
  <thead>
    <tr>
      <th>Artist</th>
      <th>Song</th>
      <th>Label</th>
      <th>Year</th>
      <th>Riddim</th>
      <th>Producer</th>
      <th>Search</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |s| %>
      <% artist_label = [] %>
      <% s.song_artists.each {|sa| artist_label << sa.artist.name } %>
      <tr class="song<%= ' original' if s.original %>">
        <td>
          <% s.song_artists.each do |sa| %>
          <%= link_to sa.artist.name, artist_path(sa.artist) %><%= " & " unless sa == s.song_artists.last %>
          <% end %>
        </td>
        <td><%= s.title %></td>
        <td><%= link_to s.label.name, label_path(s.label) %></td>
        <td><%= s.year %></td>
        <td><%= link_to s.riddim.title, riddim_path(s.riddim) %></td>
        <td><%= link_to s.producer.name, artist_path(s.producer) unless s.producer.nil? %></td>
        <td class="search"><a target="_blank" href="https://www.youtube.com/results?search_query=<%=artist_label.join('+')%>+<%= s.title %>"><i class="fab fa-youtube"></i></a></td>
        <td><%= link_to "Edit", edit_song_path(s) %></td>
        <td><%= link_to "Delete", song_path(s), method: :delete %></td>
      </tr>

    <% end %>
  </tbody>
</table>
