<h1>Songs Index (<%=@songs_total%>)</h1>
<div class="top-right">
<%= link_to 'Original Songs', songs_originals_path %>
<%= link_to 'Instrumentals', songs_instrumentals_path %>
</div>

<%= will_paginate @songs %>
<%= render 'shared/songs_table' %>
<%= will_paginate @songs %>
